.text {
	width: 100%;
	max-width: 110px;
}

.advancedFilter {
	display: flex;
}

.advancedSearch, .simpleSearch {
	width: 100%;
	flex-wrap: wrap;
	position: relative;
	padding-bottom: 10px;
}

.advancedFilterToolbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

.simpleSearch input, .advancedFilter input, .advancedFilterToolbar input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
}

.advancedFilterFirst, .advancedFilterFourth, .maxResultsLabel {
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 17px;
	min-width: 110px;
	max-width: 160px;
	text-align: center;
}

.sortFilter {
	min-width: 150px;
}

.advancedFilter input, .maxResultsLabel input {
  height: 20px;
	max-width: 118px;
}

.simpleSearch {
	max-width: 100%;
}

.searchbar input {
    height: 17px;
	width: 60%;
}

.searchInputText {
	display: flex;
	justify-content: space-between;
}

.searchInputText b{
	position: relative;
	top: 10px;
}

.search-results ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
}

.search-results ul li {
	list-style: none;
	flex-basis: 25%;
}