.wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
}

.searchbar, .backgroundOptions {
	width: 100%;
	flex-basis: 100%;
}

.categories {
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 30px;
	border-radius: 30px;
	max-height: 400px;
}

.categories li {
	line-height: 180%;
	list-style: none;
}

.categories ul {
	padding-left: 0px;
	width: 100px;
}

.items {
	width: 430px;
	height: 430px;
	padding-left: 30px;
	overflow-x: hidden; 
	overflow-y: auto; 
}

.items ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
}

.items ul li {
	list-style: none;
	flex-basis: 33.333%;
}

.item  {
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.text {
	width: 100%;
	max-width: 110px;
}